
.userprofile .fullAddress {
    font-size: 0.7em;
    color: gray;
}

.userprofile .jobTitle {
    justify-self: end;
}

.jobType,
.userprofile .appliedDate {
    font-size: 0.7em;
    color: gray;
}

.jobType {
    text-align: end;
}