.login-container {
    background: #fff;
    padding: 3em;
    border-radius: 0.5em;
    width: 25em;
}

.login-container .btn-box {
    margin: 0;
    margin-top: 1em;
}

.login-container form {
    gap: 1em;
}

.back-btn {
    width: 55px;
    position: absolute;
    left: 1em;
    top: 1em;
    fill: #fff;
    cursor: pointer;
}

.back-btn:focus,
.back-btn:hover {
    fill: var(--clr-btn-bgrd);
    transition: all 0.3s ease-in;
}

.back-btn:active {
    fill: #684511;
}