.userprofile {
    display: flex;
    background-color: #fff;
}

aside {
    float: left;
    border-right: 1px solid #cacaca57;
    width: 18%;
    padding: 2em 0;
}

.userprofile section {
    width: 100%;
}

.userprofile section header h1 {
    padding-bottom: 0.4em;
    font-size: 2.5em;
}

.userprofile .information {
    background-color: rgba(72, 176, 236, 0.068);
    width: 100%;
    min-height: 100vh;
}

.userprofile .information .container {
    padding: 1em;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.userprofile .information img{
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
}

.userprofile .information .media {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.3);
}

.userprofile .card-info {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

.userprofile .form-field {
    padding: 2em 0.5em;
}

.userprofile .form-field form div {
    display: flex;
    gap: 2em;
}

.userprofile .form-field form input { 
    flex-grow: 1;   
    background-color: #fff;
    border: 1px solid #cacaca9c;
}

.userprofile .information .card .view-profile a {
    padding: 0;
    border: 0;
    font-size: 0.85em;
    color: rgba(73, 73, 73, 0.582);
}

.userprofile .information .card {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    align-items: center;
}

.userprofile .information .deactivate {
    margin-bottom: 2em;
}


.userprofile .user-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    padding-bottom: 1.5em;
}

.userprofile p {
    padding: 0;
}

.userprofile .card .title {
    color: #f36;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.userprofile .card .info {
    color: #8f8e8e;
    font-size: 0.85em;
}

.userprofile section header {
    border-bottom: 1px solid #cacaca57;
    padding: 1em 2em;
}

.profile-settings ul {
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.logout-btn {
    position: absolute;
    color: black;
    bottom: 0; left: 0;
}

.profile-settings ul {
    padding: 0;
}

.profile-settings li {
    list-style: none;
    padding: 0.5em 1em;
}

.profile-settings li:focus,
.profile-settings li:hover {
    background-color: rgba(127, 202, 224, 0.13);
    width: 100%;
    cursor: pointer;
    fill: rgb(99, 65, 192);

    a {
        color: rgb(99, 65, 192);
        transition: all 0.3s ease-in;
    }
    transition: all 0.3s ease-in;
}

.profile-settings ul {
    padding: 1.5em 0;
}

.profile-settings ul:first-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.profile-settings li svg {
    width: 19px;
}

.profile-settings li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.profile-settings a {
    color: black;
}

.userprofile section .card {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #cacaca57;
}

.profile-settings a {
    font-size: 0.98em;
    padding: 0.5em;
}


.userprofile .jobTitle {
    justify-self: end;
}

.userprofile .postedDate,
.userprofile .appliedNumber,
.userprofile .city,
.userprofile .phoneNumber {
    font-size: 0.65em;
    color: gray;
}

.userprofile .appliedNumber {
    text-align: end;
}



.userprofile .message-box {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.24);
}

.userprofile .message-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.userprofile .message-container .msg {
    max-width: 90%;
}

.userprofile .close-msg {
    padding: 1em;
}
/* .userprofile .message-box */

.userprofile .message-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userprofile .message-box svg {
    width: 1em;
}

.userprofile .card {
    position: relative;
    margin-bottom: 1em;
}

.userprofile .remove-fav-btn {
    position: absolute;
    right: 0.5em; top: 0.5em;
    width: 1.5em;
    fill: rgb(92, 92, 92);
}
