form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

form select,
form input {
    padding: 1.3em;
    border-radius: 80px;
    border: none;
    background: var(--clr-input-bgrd);
}

form input::placeholder {
    font-size: 0.9em;
    font-weight: 300;
    color: #444444;
    opacity: 1;
}

.search-info select,
.search-info input{
    width: 30%;
    flex-grow: 1;
}

form select {
    font-size: 0.9em;
    font-weight: 300;
    color: #444444;
}