.auth-btn {
    padding: 0.5em 1em;
    border: 1px solid var(--clr-btn-bgrd);
    border-radius: 0.3em;
    color: var(--clr-btn-bgrd);
}

.auth-btn:focus,
.auth-btn:hover {
    background-color: var(--clr-btn-bgrd);
    color: rgb(26, 26, 26);
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}
 
.auth-btn:active {
    background-color: rgb(0, 0, 0);
    color: #fff;
}


.submit-btn:focus,
.submit-btn:hover {
    color: rgb(26, 26, 26);
    transition: color 0.3s ease-in;
}

a:focus,
a:hover {
    color: var(--clr-btn-bgrd);
    transition: color 0.3s ease-in;
}

.subscribe-btn:focus,
.subscribe-btn:hover {
    color: rgb(26, 26, 26);
    transition: color 0.3s ease-in;
}

.apply-job:focus,
.apply-job:hover {
    display: block;
     color: rgb(26, 26, 26);
    transition: color 0.3s ease-in;
}

.categories-btn {
    border-radius: 0.3em;
}

.categories-btn:focus,
.categories-btn:hover {
    color: rgb(26, 26, 26);
    transition: color 0.3s ease-in;
}

.createcv-btn {
    font-size: 0.9em;
    padding: 0.7em 1em;
    background-color: var(--clr-btn-bgrd);
    border-radius: 0.3em;
}

.createcv-btn:focus,
.createcv-btn:hover {
    color: rgb(26, 26, 26);
    transition: color 0.3s ease-in;
}

.userprofile-btn {
    color: black;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid #a3a3a38c;
}

.delete-btn {
    background-color: #f36;
    padding: 0.5em 1em;
    border-radius: 10px;
    border-color: #f36;
}

.delete-btn:focus,
.delete-btn:hover {
    color: #fff;
    background-color: rgb(238, 13, 69);
}

.userprofile .remove-fav-btn:focus,
.userprofile .remove-fav-btn:hover{
    fill: rgb(98, 14, 233);
    cursor: pointer;
}

.apply-btn {
    width: 12.5em;
}

/* INPUT IMAGE */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; 
}

.inputfile + label * {
	pointer-events: none;
}

.back-btn:hover {
    cursor: pointer;
    fill: rgb(221, 221, 221);
}