.SearchJobs .card svg {
    width: 100px;
}

.SearchJobs .card-info {
    display: flex;
    gap: 1em;
    align-items: center;
}

.SearchJobs .salary {
    font-size: 0.8em;
    color: gray;
    text-align: end;
}

.SearchJobs p {
    padding-bottom: 0.3em;
}

.SearchJobs .card {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}


.SearchJobs .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.SearchJobs .fullAddress,
.SearchJobs .postedDate {
    font-size: 0.8em;
    color: rgb(112, 112, 112);
}

.SearchJobs .card:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.SearchJobs .jobTitle,
.SearchJobs .card-info {
    color: black;
}

.SearchJobs .jobTitle {
    text-align: end;
}